doctype html
html
  head
    title Blog del Ingenio - Buscar
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/toastr.min.css')
    script(src='/javascripts/jquery-3.1.0.min.js')
    script(src='/javascripts/toastr.min.js')
    script(src='/javascripts/utilerias.js')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
  body.single
    // Wrapper
   #wrapper
      // Header
      header#header
        h1
          a(href='/') Blog del ingenio
        nav.links
          ul
            li
              a(href='/') Inicio
            li
              a(href='/') Mis Momentos
            // <li><a href="#">tempus</a></li>
            li
              a(href='/') Contacto
        nav.main
          ul
            li.search
              a.fa-search(href='#search') Buscar
              form#search(method='post', action='/posts/find')
                input(type='text', name='query', placeholder='Buscar')
            li.menu
              a.fa-bars(href='#menu') Menu
      // Menu
      section#menu
        // Search
        section
          form.search(method='post', action='/posts/find')
            input(type='text', name='query', placeholder='Buscar')
        // Links
        section
          ul.links
            li
              a(href='/')
                h3 Inicio
                p Descubre información nueva
            li
              a(href='/')
                h3 Mis Momentos
                p Mi blog personal
            li
              a(href='/')
                h3 Contacto
                p Envia comentarios y te contestaremos
      // Main
      #main
        // Post
        if(typeof(datapost) != "undefined")
            if(datapost != "")
                each item in datapost
                    article#artinisesion.post(style="margin: 0 0 1em 0;padding: 0em 3em 0em 3em;")
                        header(id="title" style="padding:0;margin:0;border-bottom: 0;")
                            .title
                                h2
                                    a(href="/posts?sif=#{item._id}") #{item.Titulo}
                                p #{item.SubTitulo}
                                p(style='margin-top:-20px;')
                                code Tags:
                                    each key in item.Tags
                                        form(id="my_form#{key.texttag}",method="post", action="/posts/find",style="margin:0;float:left;")
                                            input(type="hidden", name="query", value="#{key.texttag}")
                                        a(href="javascript:void(0)", onclick="document.getElementById('my_form#{key.texttag}').submit();")  #{key.texttag}       
                                                
                            .meta
                                time.published(datetime="#{item.Fecha.getDate()}/#{item.Fecha.getMonth()+1}/#{item.Fecha.getFullYear()}")
                                  span(class="setmes")
                                    | #{item.Fecha.getMonth()+1}
                                  |  #{item.Fecha.getDate()}, #{item.Fecha.getFullYear()}
                                a.author(href='#')
                                    span.name #{item.Autor.Nombre} #{item.Autor.Apellidos}
                                    img(src='/#{item.Autor.UrlAvatar}', alt='')
            else
                article#artinisesion.post(style="margin: 0 0 1em 0;padding: 0em 3em 0em 3em;")
                    header(style="padding:0;margin:0;border-bottom: 0;")
                        .title
                            h2(style="text-align:center;")
                                a(href="javascript:void(0)") Datos no encontrados
                            p(style="text-align:center;") 
                                a(href="/") Ir al inicio 
                                |o 
                                a(href="javascript:void(0)") Reportar Un Error
                            p(style='margin-top:-20px;')
          
      // Footer
      section#footer
        ul.icons
          li
            a.fa-twitter(href='#')
              span.label Twitter
          li
            a.fa-facebook(href='#')
              span.label Facebook
          li
            a.fa-instagram(href='#')
              span.label Instagram
          li
            a.fa-rss(href='#')
              span.label RSS
          li
            a.fa-envelope(href='#')
              span.label Email
        p.copyright
            | © CodeIngenius. Diseño: 
            a(href='http://html5up.net') HTML5 UP
            | . Imagenes: 
            a(href='http://unsplash.com') Unsplash
            | .
        
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/javascripts/jquery-3.1.0.min.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/skel.min.js')
    script(src='/javascripts/util.js')
    script(src='/javascripts/main.js')