doctype html
html
  head
    title Blog del ingenio
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/javascripts/checkforms.js')
    //if lte IE 
      script(src='assets/js/ie/html5shiv.js')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    
  body
    // Wrapper
    #wrapper
      // Header
      header#header
        h1
          a(href='/') Blog del ingenio
        nav.links
          ul
            li
              a(href='/') Inicio
            li
              a(href='/') Mis Momentos
            // <li><a href="#">tempus</a></li>
            li
              a(href='/') Contacto
        nav.main
          ul
            li.login(id="login")
                if(session.idCuenta == null)
                    form(method="post", action="cuenta/login/checklogin", onsubmit="return EnviarLogin();")
                        input(type="text", name="isUsuario" style="width: 10em;height: 2.5em;", placeholder='Usuario', required)
                        input(type="password", name='isPassword', style="width: 10em;height: 2.5em;", placeholder='Contraseña', required)
                        input(type="submit", style="width: 10em;height: 100%;", value="Entrar")
                    a.button(href='/cuenta/registro', style="text-indent: 0;width:auto;margin-top:0.5em;height: 4.7em;") Registro
                        
                else
                    img(src="images/avatar.jpg" style="height: 100%;border-radius: 5em;margin-right: 0.5em;margin-left: 0.5em;")
                    p(style="margin-top: 0em;line-height: 4.7;margin-right: 0.5em;") 
                        |Hola! #{session.nombre}. 
                        a(href="/cuenta/login/cerrarsesion") cerrar sesión
                    
          
            li.search
              a.fa-search(href='#search') Buscar
              form#search(method='post', action='/post/find')
                input(type='text', name='query', placeholder='Buscar')
                                    
            li.menu
              a.fa-bars(href='#menu') Menu
      // Menu
      section#menu
        // Search
        section
          form.search(method='post', action='/post/find')
            input(type='text', name='query', placeholder='Buscar')
        // Links
        section
          ul.links
            li
              a(href='/')
                h3 Inicio
                p Descubre información nueva
            li
              a(href='/')
                h3 Mis Momentos
                p Mi blog personal
            li
              a(href='/')
                h3 Contacto
                p Envia comentarios y te contestaremos
        // Actions
        section
            ul.actions.vertical
                li
                    if(session.idCuenta == null)
                        a#login.button.big.fit(href='/cuenta/login') Iniciar Sesión
                    else
                        p Hola! #{session.nombre}.
                        p 
                        | Administra tu cuenta haciendo
                        a(href="/cuenta/panel")  Click Aqui
                        | .
                        if(session.tipousuario == 2)
                            p
                            | Administrador Crea un post
                            a(href="/cuenta/panel")  Click Aqui
                            | .
                        br
                        br
                        a#login.button.big.fit(href='/cuenta/login/cerrarsesion') Cerrar Sesión
        
        
      // Main
      #main
        // Post
                
        if(typeof(dataposts) != "undefined")
            each item in dataposts
                article.post
                    header
                        .title
                            h2
                                a(href='/post?sif=#{item._id}') #{item.Titulo}
                            p #{item.SubTitulo}
                            p(style='margin-top:-20px;')
                            code(style="float:left;") Tags:
                            each key in item.Tags
                                form(id="my_form#{key.texttag}",method="post", action="/post/find",style="margin:0;float:left;")
                                    input(type="hidden", name="query", value="#{key.texttag}")
                                    a(href="javascript:void(0)", onclick="document.getElementById('my_form#{key.texttag}').submit();")
                                        | #{key.texttag}
                                            
                        .meta
                            time.published(datetime='2015-11-01') #{item.Fecha}
                            a.author(href='#')
                                span.name Javier Vargas
                                img(src='images/avatar.jpg', alt='')
                    a.image.featured(href='#')
                        img(src='#{item.UrlPortada}', alt='')
                    p #{item.Contenido}
                    footer
                        ul.actions
                            li
                                a.button.big(href='/post?sif=#{item._id}') Seguir Leyendo
                        ul.stats
                            li
                                a(href='#') General
                            li
                                a.icon.fa-heart(href='#') #{item.Like}
                            li
                                a.icon.fa-comment(href='#') 128
        
        // Pagination
        ul.actions.pagination(style='')
          li
            a.disabled.button.big.previous(href='') Pagina anterior
          li
            a.button.big.next(href='#') Siguiente pagina
      // Sidebar
      section#sidebar
        // Intro
        section#intro
          a.logo(href='#')
            img(src='images/jlogo.jpg', alt='')
          header
            h2 Blog del ingenio
            p
              | Comunidad 
              a(href='#') cientifica y tecnologica
              | .
              // <a href="http://html5up.net">HTML5 UP</a>
        // Mini Posts
        section
          .mini-posts
            // Mini Post
          if(typeof(dataposts) != "undefined")
            each item in dataposts
                article.mini-post
                    header
                        h3
                            a(href='#') #{item.Titulo}
                        time.published(datetime='2015-10-20') #{item.Fecha}
                        a.author(href='#')
                            img(src='images/avatar.jpg', alt='')
                    a.image(href='#')
                        img(src='#{item.UrlPortada}', alt='')
        // Posts List
        section
          ul.posts
            if(typeof(dataposts) != "undefined")
                each item in dataposts
                    li
                        article
                            header
                                h3
                                    a(href='#') #{item.Titulo}
                                time.published(datetime='2015-10-20') #{item.Fecha}
                            a.image(href='#')
                                img(src='#{item.UrlPortada}', alt='')
        // About
        section.blurb
          h2 ¿Quiénes somos?
          p
            | Blog del ingenio es una comunidad de interes academico y cientifico que integra herramientas inteligentes que mejoran su usabilidad practica y amena.
          ul.actions
            li
              a.button(href='#') Seguir Leyendo
        // Footer
        section#footer
          ul.icons
            li
              a.fa-twitter(href='#')
                span.label Twitter
            li
              a.fa-facebook(href='#')
                span.label Facebook
            li
              a.fa-instagram(href='#')
                span.label Instagram
            li
              a.fa-rss(href='#')
                span.label RSS
            li
              a.fa-envelope(href='#')
                span.label Email
          p.copyright
            | © CodeIngenius. Diseño: 
            a(href='http://html5up.net') HTML5 UP
            | . Imagenes: 
            a(href='http://unsplash.com') Unsplash
            | .
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/javascripts/jquery-3.1.0.min.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/skel.min.js')
    script(src='/javascripts/util.js')
    script(src='/javascripts/main.js')