doctype html
html
  head
    title Blog del Ingenio - Post
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/utilerias.js')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
  body.single
    // Wrapper
    #wrapper
      // Header
      header#header
        h1
          a(href='/') Blog del ingenio
        nav.links
          ul
            li
              a(href='/') Inicio
            li
              a(href='/') Mis Momentos
            // <li><a href="#">tempus</a></li>
            li
              a(href='/') Contacto
        nav.main
          ul
            li.search
              a.fa-search(href='#search') Buscar
              form#search(method='post', action='/post/find')
                input(type='text', name='query', placeholder='Buscar')
            li.menu
              a.fa-bars(href='#menu') Menu
      // Menu
      section#menu
        // Search
        section
          form.search(method='post', action='/post/find')
            input(type='text', name='query', placeholder='Buscar')
        // Links
        section
          ul.links
            li
              a(href='/')
                h3 Inicio
                p Descubre información nueva
            li
              a(href='/')
                h3 Mis Momentos
                p Mi blog personal
            li
              a(href='/')
                h3 Contacto
                p Envia comentarios y te contestaremos
        // Actions
        section
            ul.actions.vertical
                li
                    if(session.idCuenta == null)
                        a#login.button.big.fit(href='/cuenta/login') Iniciar Sesión
                    else
                        p Hola! #{session.nombre}.
                        p 
                        | Administra tu cuenta haciendo
                        a(href="/cuenta/panel")  Click Aqui
                        | .
                        if(session.tipousuario == 2)
                            p
                            | Administrador Crea un post
                            a(href="/cuenta/panel")  Click Aqui
                            | .
                        br
                        br
                        a#login.button.big.fit(href='/cuenta/login/cerrarsesion') Cerrar Sesión
      // Main
      #main
        // Post
        article.post
          header
            .title
              h2
                a(href='#') #{datapost[0].Titulo}
              p #{datapost[0].SubTitulo}
            .meta
              time.published(datetime='2015-11-01') #{datapost[0].Fecha}
              a.author(href='#')
                span.name #{datapost[0].Autor.Nombre} #{datapost[0].Autor.Apellidos}
                img(src='images/avatar.jpg', alt='')
          span.image.featured
            img(src='#{datapost[0].UrlPortada}', alt='')
          p #{datapost[0].Contenido}
          
          br
          p(style='')
          code Tags:
                each key in datapost[0].Tags
                    form(id="my_form#{key.texttag}",method="post", action="/post/find",style="margin:0;float:left;")
                        input(type="hidden", name="query", value="#{key.texttag}")
                    a(href="javascript:void(0)", onclick="document.getElementById('my_form#{key.texttag}').submit();")  #{key.texttag}
          br
          br
          footer
            ul.stats
              li
                a.icon.fa-heart(href='javascript:void(0)') #{datapost[0].Like}
              li
                a.icon.fa-comment(href='javascript:void(0)') 128
      article.post(style='margin: 0 0 0 0;')
          h3 Crear Comentario
          .12u
            textarea#comentario-message(name='comentario-message', placeholder='', rows='3')
          footer
            .12u(style='margin-top:10px;')
              ul.actions
                li
                  input(type='submit', onclick='AgregaComentario()', value='Enviar Comentario')
                li
                  input(type='reset', onclick='limpiartxtbox()', value='Limpiar')
          div(style='margin-bottom:40px;text-align:center;margin-top:40px;')
            h1 Comentarios
        article#commentscontent.post
          header
            .meta(style='border-right: solid 1px rgba(160, 160, 160, 0.3);padding-top:1em;padding-bottom:auto;')
              time.published(datetime='2015-10-18') October 18, 2015
              a.author(href='#')
                span.name Javier Vargas
                img(src='../images/avatar.jpg', alt='')
            .title(style='padding-top:2em;padding-left:1em;padding-right:1em;padding-bottom:2em;')
              p(style='line-height:1.8;text-transform: none;text-align: left;')
                | Prueba
              hr(style='margin:0;')
              div(style='text-align: right;')
                span(style='margin-left:20px;margin-right:20px;')
                  a.icon.fa-heart(href='#') 40
                | |
                span(style='margin-left:20px;margin-right:20px;')
                  a.icon.fa-comment(href='javascript:void(0);', onclick="disablethis('respuestasc1');") 2
              #respuestasc1(style='display:none;')
                article.post(style='margin: 0 0 0 0;padding: 1em 1em 0em 1em;')
                  h3 Responder Comentario
                  .12u
                    textarea#respuesta-message(name='respuesta-message', placeholder='', rows='2')
                  footer
                    .12u(style='margin-top:10px;')
                      ul.actions
                        li
                          input(type='submit', value='Enviar Respuesta')
                        li
                          input(type='reset', onclick='limpiartxtbox()', value='Limpiar')
                div(style='margin-top:1em;text-align:center;')
                  h1 Respuestas
                div(style='margin-top:1em;float: left;')
                  header
                    .meta(style='float: right; margin:0;border-right: solid 1px rgba(160, 160, 160, 0.3);padding-top:1em;padding-bottom:auto;')
                      time.published(datetime='2015-11-01') November 1, 2015
                      a.author(href='#')
                        span.name Javier Vargas
                        img(src='../images/avatar.jpg', alt='')
                    .title(style='padding-top:2em;padding-left:1em;padding-right:1em;float: left;width: 67%;')
                      p(style='line-height:1.8;text-transform: none;text-align: left;')
                        | Prueba
                div(style='margin-top:1em;float: left;')
                  header
                    .meta(style='float: right; margin:0;border-right: solid 1px rgba(160, 160, 160, 0.3);padding-top:1em;padding-bottom:auto;')
                      time.published(datetime='2015-11-01') November 1, 2015
                      a.author(href='#')
                        span.name Javier Vargas
                        img(src='../images/avatar.jpg', alt='')
                    .title(style='padding-top:2em;padding-left:1em;padding-right:1em;float: left;width: 67%;')
                      p(style='line-height:1.8;text-transform: none;text-align: left;')
                        | Prueba
          header
            .meta(style='border-right: solid 1px rgba(160, 160, 160, 0.3);padding-top:1em;padding-bottom:auto;')
              time.published(datetime='2015-10-18') October 18, 2015
              a.author(href='#')
                span.name Javier vargas
                img(src='../images/avatar.jpg', alt='')
            .title(id="titulo", style='padding-top:2em;padding-left:1em;padding-right:1em;padding-bottom:2em;')
              p(style='line-height:1.8;text-transform: none;text-align: left;')
                | Prueba
              hr(style='margin:0;')
              div(style='text-align: right;')
                span(style='margin-left:20px;margin-right:20px;')
                  a.icon.fa-heart(href='#') 40
                | |
                span(style='margin-left:20px;margin-right:20px;')
                  a.icon.fa-comment(href='javascript:void(0);', onclick="disablethis('respuestasc2');") 0
              #respuestasc2(style='display:none;')
                article.post(style='margin: 0 0 0 0;padding: 1em 1em 0em 1em;')
                  h3 Responder Comentario
                  .12u
                    textarea#demo-message(name='demo-message', placeholder='', rows='2')
                  footer
                    .12u(style='margin-top:10px;')
                      ul.actions
                        li
                          input(type='submit', value='Enviar Respuesta')
                        li
                          input(type='reset', onclick='limpiartxtbox()', value='Limpiar')
      // Footer
      section#footer
        ul.icons
          li
            a.fa-twitter(href='#')
              span.label Twitter
          li
            a.fa-facebook(href='#')
              span.label Facebook
          li
            a.fa-instagram(href='#')
              span.label Instagram
          li
            a.fa-rss(href='#')
              span.label RSS
          li
            a.fa-envelope(href='#')
              span.label Email
        p.copyright
            | © CodeIngenius. Diseño: 
            a(href='http://html5up.net') HTML5 UP
            | . Imagenes: 
            a(href='http://unsplash.com') Unsplash
            | .
            
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(src='/javascripts/jquery-3.1.0.min.js')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/skel.min.js')
        script(src='/javascripts/util.js')
        script(src='/javascripts/main.js')